@page "/challenge/{id}"

<style>
    .code-editor {
        height: calc(100vh - 125px);
        width: 500px;
        float: right;
    }
</style>

<div class="panel">
    Day la phan giai thich cau hoi
</div>


<MonacoEditor @ref="_editor" Id="any-id-string" CssClass="code-editor"/>

<button @onclick="@runCode">
    Run
</button>

@code {
    [Parameter]
    public string id {get; set;}
     private MonacoEditor _editor { get; set; }
    protected async Task changeTheme() {
        await MonacoEditor.SetTheme("vs-dark");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await changeTheme();
        }
    }

    private async void runCode() {
        var value = await this._editor.GetValue();
        Console.WriteLine(value);
    }
}