@page "/challenge/{id}"
@inject ChallengeService challengeService;
@using helloworld.Services;
<style>
    .code-editor {
        height: calc(100vh - 125px);
        width: 500px;
        float: right;
    }
</style>

<h3>
    @title
</h3>

<div class="panel">
    @description
</div>


<MonacoEditor @ref="_editor" Id="any-id-string" CssClass="code-editor" />

<button class="bg-blue-600" @onclick="@runCode">
    Run
</button>

@if (output != null)
{
    <div>
        Output:
        @output
    </div>
}

@code {
    [Parameter]
    public string id { get; set; }
    public string description{get; set;}
    
    public string title{get; set;}
    public string output;
    private MonacoEditor _editor { get; set; }
    protected async Task changeTheme()
    {
        await MonacoEditor.SetTheme("vs-dark");
    }

    protected override async Task OnInitializedAsync() {
        var c = await challengeService.getChallengeByID(id);
        this.description = c.description;
        this.title = c.title;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await changeTheme();
            await _editor.SetValue("");
        }
    }

    private async void runCode()
    {
        var value = await this._editor.GetValue();
        helloworld.Services.Program a = await challengeService.runCode(value);
        this.output = a.data.output;
    }
}