@page "/challenge"
@inject ChallengeService challengeService
<div class="container">
    <div class="row">
        @for (int i = 0; i < 10; i++)
        {
            <ChallengeCard id="123" title="Hello World" content="Day la mot thu thach ma ai cung co the vuot qua" />
        }
    </div>
</div>


@code {
    protected override async Task OnInitializedAsync() {
        await challengeService.getAllChallenge();
    }
}